#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#product_map {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}

.product {
  border: 1px solid black;
}

img {
  max-width: 100px;
  max-height: 125px;
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
}
